.about-bank {
  display: flex;
  flex-direction: column;
  margin: 120px 0;

  @media (max-width: $tablet-width) {
    margin: 60px 0;
  }
}

.about-bank__sub-heading {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 136%;
  }
}

.about-bank__about {
  margin-bottom: 15px;
  padding-right: 85px;

  &--pr220 {
    margin-bottom: 60px;
    padding-right: 220px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 0;

    &--pr220 {
      margin-bottom: 30px;
    }
  }
}

.about-bank__infos {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media (max-width: $tablet-width) {
    gap: 40px;
  }
}

.about-bank__item {
  display: flex;
  align-items: center;
  gap: 35px;

  .btn {
    max-width: 242px;
  }

  &--reverse {
   & > .about-bank__item-wrapper {
      order: 1;
    }

   & .about-bank__about {
      padding-right: 0;
    }

   & > picture {
      order: 2;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 30px;

    &--reverse {
      & > .about-bank__item-wrapper {
         order: 2;
       }

      & > picture {
         order: 1;
       }
     }
  }
}

.about-bank__img {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}
