.bank {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;

  @media (max-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.bank__about {
  margin-bottom: 130px;
  padding: 0 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background: -webkit-linear-gradient(#439353, #EC8025);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: $tablet-width) {
    text-align: left;
    margin-bottom: 90px;
    padding: 0;
    font-size: 16px;
  }
}

.bank__benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 130px;
  column-gap: 180px;
}

.bank__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 354px;
  height: 92px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: $main2-color;
  background: no-repeat url("../img/bcg/bank-frame.svg");

  &--person::before{
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    top: -70px;
    background: no-repeat url('../img/icons/person.svg');
  }

  &--check::before{
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    top: -70px;
    background: no-repeat url('../img/icons/check.svg');
  }

  &--laptop::before{
    content: '';
    width: 73px;
    height: 60px;
    position: absolute;
    top: -70px;
    background: no-repeat url('../img/icons/laptop.svg');
  }

  &--dollar::before{
    content: '';
    width: 33.333px;
    height: 60px;
    position: absolute;
    top: -70px;
    background: no-repeat url('../img/icons/dollar.svg');;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    background-size: contain;
  }
}
