.hello {
  background-image: url(../img/bcg/hello-bcg.jpg);
  background-position: top 2px left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      270deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 2.76%,
      rgba(18, 18, 18, 0) 42.19%,
      #121212 50%
    );
    background-position: top center;
    transform: rotate(180deg);
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      #121212 2.08%,
      rgba(18, 18, 18, 0.21) 33.65%,
      // This line was already correct
      #121212 93.77%
    );
    background-position: top;
    background-size: 100%;
  }
  @media (max-width: $large-screen) {
    &:after {
      background: linear-gradient(
        270deg,
        rgba(18, 18, 18, 0) 36.76%,
        #121212 49.19%
      );
    }
  }
  @media (max-width: $tablet-width) {
    background-image: none;
    &:after,
    &:before {
      display: none;
    }
  }
}

.section-heading--bright {
  color: $main-color;
  text-align: left;
}

.hello__wrapper {
  max-width: 45%;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 3;
  @media (max-width: $tablet-width) {
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 90px;
  }
}

.hello ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
}

.hello ul li {
  list-style-type: disc;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  &::marker {
    color: $main-color;
  }
}

.hello__img {
  display: none;
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 200%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      270deg,
      rgba(18, 18, 18, 0) 36.76%,
      #121212 49.19%
    );
    background-position: top center;
    transform: rotate(180deg);
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      #121212 2.08%,
      rgba(18, 18, 18, 0.21) 33.65%,
      // This line was already correct
      #121212 93.77%
    );
    background-position: top;
    background-size: 100%;
  }
  @media (max-width: $tablet-width) {
    display: block;
    background-image: url(../img/bcg/hello-bcg.jpg);
    height: 374px;
    background-size: cover;
    background-position: center;
  }
}
