/*!Ion.RangeSlider, 2.3.1, © Denis Ineshin, 2010 - 2019, IonDen.com, Build date: 2019-12-19 16:51:02*/
.irs,
.irs-line {
    position: relative;
    display: block;
}
.irs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.irs-line {
    overflow: hidden;
    outline: 0 !important;
}
.irs-bar,
.irs-shadow {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}
.irs-shadow {
    display: none;
}
.irs-handle {
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer !important;
}
.irs-handle.type_last {
    z-index: 2;
}
.irs-handle,
.irs-max,
.irs-min {
    position: absolute;
    display: block;
    cursor: default;
}
.irs-min {
    left: 0;
}
.irs-max {
    right: 0;
}
.irs-from,
.irs-single,
.irs-to {
    position: absolute;
    display: block;
    bottom: -70px;
    left: 0;
    cursor: default;
    white-space: nowrap;
}
.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
}
.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: 0 0;
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}
.irs-disabled {
    opacity: 0.4;
}
.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    outline: 0 !important;
    z-index: -9999 !important;
    background: 0 0 !important;
    border-style: solid !important;
    border-color: transparent !important;
}
.irs--flat {
    height: 40px;
}
.irs--flat.irs-with-grid {
    height: 60px;
}
.irs--flat .irs-line {
    top: 25px;
    height: 12px;
    background-color: #e1e4e9;
    border-radius: 4px;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #ed5565;
}
.irs--flat .irs-bar--single {
    border-radius: 4px 0 0 4px;
}
.irs--flat .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: #e1e4e9;
}
.irs--flat .irs-handle {
    top: 22px;
    width: 16px;
    height: 18px;
    background-color: transparent;
}
.irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #da4453;
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    background-color: #a43540;
}
.irs--flat .irs-max,
.irs--flat .irs-min {
    top: 0;
    padding: 1px 3px;
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #e1e4e9;
    border-radius: 4px;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #ed5565;
    border-radius: 4px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #ed5565;
}
.irs--flat .irs-grid-pol {
    background-color: #e1e4e9;
}
.irs--flat .irs-grid-text {
    color: #999;
}
.irs--big,
.irs--modern {
    height: 55px;
}
.irs--big.irs-with-grid {
    height: 70px;
}
.irs--big .irs-line {
    top: 33px;
    height: 12px;
    background-color: #fff;
    background: linear-gradient(to bottom, #ddd -50%, #fff 150%);
    border: 1px solid #ccc;
    border-radius: 12px;
}
.irs--big .irs-bar {
    top: 33px;
    height: 12px;
    background-color: #92bce0;
    border: 1px solid #428bca;
    background: linear-gradient(to bottom, #fff 0, #428bca 30%, #b9d4ec 100%);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}
.irs--big .irs-bar--single {
    border-radius: 12px 0 0 12px;
}
.irs--big .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: rgba(66, 139, 202, 0.5);
}
.irs--big .irs-handle {
    top: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #cbcfd5;
    background: linear-gradient(to bottom, #fff 0, #b4b9be 30%, #fff 100%);
    box-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.2),
        inset 0 0 3px 1px #fff;
    border-radius: 30px;
}
.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
    border-color: rgba(0, 0, 0, 0.45);
    background-color: #939ba7;
    background: linear-gradient(to bottom, #fff 0, #919ba5 30%, #fff 100%);
}
.irs--big .irs-max,
.irs--big .irs-min {
    top: 0;
    padding: 1px 5px;
    color: #fff;
    text-shadow: none;
    background-color: #9f9f9f;
    border-radius: 3px;
}
.irs--big .irs-from,
.irs--big .irs-single,
.irs--big .irs-to {
    color: #fff;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #428bca;
    background: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
    border-radius: 3px;
}
.irs--big .irs-grid-pol {
    background-color: #428bca;
}
.irs--big .irs-grid-text {
    color: #428bca;
}
.irs--modern.irs-with-grid {
    height: 55px;
}
.irs--modern .irs-line {
    top: 25px;
    height: 5px;
    background-color: #d1d6e0;
    background: linear-gradient(to bottom, #e0e4ea 0, #d1d6e0 100%);
    border: 1px solid #a3adc1;
    border-bottom-width: 0;
    border-radius: 5px;
}
.irs--modern .irs-bar {
    top: 25px;
    height: 5px;
    background: #20b426;
    background: linear-gradient(to bottom, #20b426 0, #18891d 100%);
}
.irs--modern .irs-bar--single {
    border-radius: 5px 0 0 5px;
}
.irs--modern .irs-shadow {
    height: 1px;
    bottom: 21px;
    background-color: rgba(209, 214, 224, 0.5);
}
.irs--modern .irs-handle {
    top: 37px;
    width: 12px;
    height: 13px;
    border: 1px solid #a3adc1;
    border-top-width: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(1) {
    position: absolute;
    display: block;
    top: -4px;
    left: 1px;
    width: 6px;
    height: 6px;
    border: 1px solid #a3adc1;
    background: #fff;
    transform: rotate(45deg);
}
.irs--modern .irs-handle > i:nth-child(2) {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 10px;
    height: 12px;
    background: #e9e6e6;
    background: linear-gradient(to bottom, #fff 0, #e9e6e6 100%);
    border-radius: 0 0 3px 3px;
}
.irs--modern .irs-handle > i:nth-child(3) {
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 5px;
    border-left: 1px solid #a3adc1;
    border-right: 1px solid #a3adc1;
}
.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
    border-color: #7685a2;
    background: #c3c7cd;
    background: linear-gradient(to bottom, #fff 0, #919ba5 30%, #fff 100%);
}
.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
    border-color: #7685a2;
}
.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
    border-color: #48536a;
}
.irs--modern .irs-max,
.irs--modern .irs-min {
    top: 0;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    color: #fff;
    background-color: #d1d6e0;
    border-radius: 5px;
}
.irs--modern .irs-from,
.irs--modern .irs-single,
.irs--modern .irs-to {
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #20b426;
    color: #fff;
    border-radius: 5px;
}
.irs--modern .irs-from:before,
.irs--modern .irs-single:before,
.irs--modern .irs-to:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #20b426;
}
.irs--modern .irs-grid {
    height: 25px;
}
.irs--modern .irs-grid-pol {
    background-color: #dedede;
}
.irs--modern .irs-grid-text {
    color: silver;
    font-size: 13px;
}
.irs--sharp {
    height: 50px;
    font-size: 12px;
    line-height: 1;
}
.irs--sharp.irs-with-grid {
    height: 57px;
}
.irs--sharp .irs-line {
    top: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}
.irs--sharp .irs-bar {
    top: 30px;
    height: 2px;
    background-color: #ee22fa;
}
.irs--sharp .irs-bar--single {
    border-radius: 2px 0 0 2px;
}
.irs--sharp .irs-shadow {
    height: 1px;
    bottom: 21px;
    background-color: rgba(0, 0, 0, 0.5);
}
.irs--sharp .irs-handle {
    top: 25px;
    width: 10px;
    height: 10px;
    background-color: #a804b2;
}
.irs--sharp .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #a804b2;
}
.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
    background-color: #000;
}
.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
    border-top-color: #000;
}
.irs--sharp .irs-max,
.irs--sharp .irs-min {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    top: 0;
    padding: 3px 4px;
    opacity: 0.4;
    background-color: #a804b2;
    border-radius: 2px;
}
.irs--sharp .irs-from,
.irs--sharp .irs-single,
.irs--sharp .irs-to {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 4px;
    background-color: #a804b2;
    color: #fff;
    border-radius: 2px;
}
.irs--sharp .irs-from:before,
.irs--sharp .irs-single:before,
.irs--sharp .irs-to:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #a804b2;
}
.irs--sharp .irs-grid {
    height: 25px;
}
.irs--sharp .irs-grid-pol {
    background-color: #dedede;
}
.irs--sharp .irs-grid-text {
    color: silver;
    font-size: 13px;
}
.irs--round {
    height: 24px;
    margin-bottom: 90px;
}
.irs--round.irs-with-grid {
    height: 65px;
}
.irs--round .irs-line {
    top: 36px;
    height: 12px;
    background-color: #f4f4f4;
    border: 0.5px solid #a3aebe;
    border-radius: 100px;
}
.irs--round .irs-bar {
    top: 36px;
    height: 14px;
    background-color: #439353;
    border-radius: 100px;
}
.irs--round .irs-bar--single {
    border-radius: 4px 0 0 4px;
}
.irs--round .irs-shadow {
    height: 4px;
    bottom: 21px;
    background-color: rgba(222, 228, 236, 0.5);
}
.irs--round .irs-handle {
    top: 31px;
    width: 24px;
    height: 24px;
    border: 4px solid #439353;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}
.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover,
.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
    background-color: #f0f6ff;
}
.irs--round .irs-max,
.irs--round .irs-min {
    font-family: "Inter", "Arial", sans-serif;
    color: #202020;
    font-size: 16px;
    line-height: 19px;
    top: 70px;
    padding: 3px 5px;
    border-radius: 4px;
}
.irs--round .irs-min::before {
    content: "от ";
}
.irs--round .irs-max::before {
    content: "до ";
}
.irs--round .irs-from,
.irs--round .irs-single,
.irs--round .irs-to {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: #439353;
    color: #fff;
    border-radius: 4px;
}
.irs--round .irs-from:before,
.irs--round .irs-single:before,
.irs--round .irs-to:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #439353;
}
.irs--round .irs-grid {
    height: 25px;
}
.irs--round .irs-grid-pol {
    background-color: #dedede;
}
.irs--round .irs-grid-text {
    color: silver;
    font-size: 13px;
}
.irs--square {
    height: 50px;
}
.irs--square.irs-with-grid {
    height: 60px;
}
.irs--square .irs-line {
    top: 31px;
    height: 4px;
    background-color: #dedede;
}
.irs--square .irs-bar {
    top: 31px;
    height: 4px;
    background-color: #000;
}
.irs--square .irs-shadow {
    height: 2px;
    bottom: 21px;
    background-color: #dedede;
}
.irs--square .irs-handle {
    top: 25px;
    width: 16px;
    height: 16px;
    border: 3px solid #000;
    background-color: #fff;
    transform: rotate(45deg);
}
.irs--square .irs-max,
.irs--square .irs-min {
    color: #333;
    font-size: 14px;
    line-height: 1;
    top: 0;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.irs--square .irs-from,
.irs--square .irs-single,
.irs--square .irs-to {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: #000;
    color: #fff;
}
.irs--square .irs-grid {
    height: 25px;
}
.irs--square .irs-grid-pol {
    background-color: #dedede;
}
.irs--square .irs-grid-text {
    color: silver;
    font-size: 11px;
}
.iti {
    position: relative;
    display: inline-block;
}
.iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.iti__hide {
    display: none;
}
.iti__v-hide {
    visibility: hidden;
}
.iti input,
.iti input[type="tel"],
.iti input[type="text"] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0;
    padding-right: 36px;
    margin-right: 0;
}
.iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
}
.iti__selected-flag {
    z-index: 1;
    position: relative;
    bottom: 1px;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 6px 0 8px;
}
.iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}
.iti__arrow--up {
    border-top: none;
    border-bottom: 4px solid #555;
}
.iti__country-list {
    position: absolute;
    z-index: 2;
    width: 300px;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
@media (max-width: 500px) {
    .iti__country-list {
        width: unset;
    }
}
.iti__country-list--dropup {
    bottom: 100%;
    margin-bottom: -1px;
}
.iti__flag-box {
    display: inline-block;
    width: 20px;
}
.iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.iti__country {
    padding: 5px 10px;
    outline: 0;
}
.iti__dial-code {
    color: #999;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag,
.iti__country.iti__highlight {
    background-color: rgba(0, 0, 0, 0.05);
}
.iti__country-name {
    color: #0d0c0c;
}
.iti__country-name,
.iti__dial-code,
.iti__flag-box {
    vertical-align: middle;
}
.iti__country-name,
.iti__flag-box {
    margin-right: 6px;
}
input[type="tel"] {
    margin-left: 100px !important;
    padding-left: 10px !important;
    width: calc(100% - 100px);
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"],
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="tel"],
.iti--separate-dial-code input[type="text"] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
}
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0;
}
.iti--allow-dropdown .iti__flag-container:hover {
    cursor: pointer;
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
    cursor: default;
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent;
}
.iti--separate-dial-code .iti__selected-flag {
    max-height: 45px;
    padding: 22px 10px;
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    border-radius: 4px;
    border: 1px solid #e8e9e9;
    background-color: white;
}
.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px;
    font-size: 15px;
}
.iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px;
}
.iti--container:hover {
    cursor: pointer;
}
.iti-mobile .iti--container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: fixed;
}
.iti-mobile .iti__country-list {
    max-height: 100%;
    width: 100%;
}
.iti-mobile .iti__country {
    padding: 10px;
    line-height: 1.5em;
}
.iti__flag {
    width: 20px;
}
.iti__flag.iti__be {
    width: 18px;
}
.iti__flag.iti__ch {
    width: 15px;
}
.iti__flag.iti__mc {
    width: 19px;
}
.iti__flag.iti__ne {
    width: 18px;
}
.iti__flag.iti__np {
    width: 13px;
}
.iti__flag.iti__va {
    width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-size: 5652px 15px;
    }
}
.iti__flag.iti__ac {
    height: 10px;
    background-position: 0 0;
}
.iti__flag.iti__ad {
    height: 14px;
    background-position: -22px 0;
}
.iti__flag.iti__ae {
    height: 10px;
    background-position: -44px 0;
}
.iti__flag.iti__af {
    height: 14px;
    background-position: -66px 0;
}
.iti__flag.iti__ag {
    height: 14px;
    background-position: -88px 0;
}
.iti__flag.iti__ai {
    height: 10px;
    background-position: -110px 0;
}
.iti__flag.iti__al {
    height: 15px;
    background-position: -132px 0;
}
.iti__flag.iti__am {
    height: 10px;
    background-position: -154px 0;
}
.iti__flag.iti__ao {
    height: 14px;
    background-position: -176px 0;
}
.iti__flag.iti__aq {
    height: 14px;
    background-position: -198px 0;
}
.iti__flag.iti__ar {
    height: 13px;
    background-position: -220px 0;
}
.iti__flag.iti__as {
    height: 10px;
    background-position: -242px 0;
}
.iti__flag.iti__at {
    height: 14px;
    background-position: -264px 0;
}
.iti__flag.iti__au {
    height: 10px;
    background-position: -286px 0;
}
.iti__flag.iti__aw {
    height: 14px;
    background-position: -308px 0;
}
.iti__flag.iti__ax {
    height: 13px;
    background-position: -330px 0;
}
.iti__flag.iti__az {
    height: 10px;
    background-position: -352px 0;
}
.iti__flag.iti__ba {
    height: 10px;
    background-position: -374px 0;
}
.iti__flag.iti__bb {
    height: 14px;
    background-position: -396px 0;
}
.iti__flag.iti__bd {
    height: 12px;
    background-position: -418px 0;
}
.iti__flag.iti__be {
    height: 15px;
    background-position: -440px 0;
}
.iti__flag.iti__bf {
    height: 14px;
    background-position: -460px 0;
}
.iti__flag.iti__bg {
    height: 12px;
    background-position: -482px 0;
}
.iti__flag.iti__bh {
    height: 12px;
    background-position: -504px 0;
}
.iti__flag.iti__bi {
    height: 12px;
    background-position: -526px 0;
}
.iti__flag.iti__bj {
    height: 14px;
    background-position: -548px 0;
}
.iti__flag.iti__bl {
    height: 14px;
    background-position: -570px 0;
}
.iti__flag.iti__bm {
    height: 10px;
    background-position: -592px 0;
}
.iti__flag.iti__bn {
    height: 10px;
    background-position: -614px 0;
}
.iti__flag.iti__bo {
    height: 14px;
    background-position: -636px 0;
}
.iti__flag.iti__bq {
    height: 14px;
    background-position: -658px 0;
}
.iti__flag.iti__br {
    height: 14px;
    background-position: -680px 0;
}
.iti__flag.iti__bs {
    height: 10px;
    background-position: -702px 0;
}
.iti__flag.iti__bt {
    height: 14px;
    background-position: -724px 0;
}
.iti__flag.iti__bv {
    height: 15px;
    background-position: -746px 0;
}
.iti__flag.iti__bw {
    height: 14px;
    background-position: -768px 0;
}
.iti__flag.iti__by {
    height: 10px;
    background-position: -790px 0;
}
.iti__flag.iti__bz {
    height: 14px;
    background-position: -812px 0;
}
.iti__flag.iti__ca {
    height: 10px;
    background-position: -834px 0;
}
.iti__flag.iti__cc {
    height: 10px;
    background-position: -856px 0;
}
.iti__flag.iti__cd {
    height: 15px;
    background-position: -878px 0;
}
.iti__flag.iti__cf {
    height: 14px;
    background-position: -900px 0;
}
.iti__flag.iti__cg {
    height: 14px;
    background-position: -922px 0;
}
.iti__flag.iti__ch {
    height: 15px;
    background-position: -944px 0;
}
.iti__flag.iti__ci {
    height: 14px;
    background-position: -961px 0;
}
.iti__flag.iti__ck {
    height: 10px;
    background-position: -983px 0;
}
.iti__flag.iti__cl {
    height: 14px;
    background-position: -1005px 0;
}
.iti__flag.iti__cm {
    height: 14px;
    background-position: -1027px 0;
}
.iti__flag.iti__cn {
    height: 14px;
    background-position: -1049px 0;
}
.iti__flag.iti__co {
    height: 14px;
    background-position: -1071px 0;
}
.iti__flag.iti__cp {
    height: 14px;
    background-position: -1093px 0;
}
.iti__flag.iti__cr {
    height: 12px;
    background-position: -1115px 0;
}
.iti__flag.iti__cu {
    height: 10px;
    background-position: -1137px 0;
}
.iti__flag.iti__cv {
    height: 12px;
    background-position: -1159px 0;
}
.iti__flag.iti__cw {
    height: 14px;
    background-position: -1181px 0;
}
.iti__flag.iti__cx {
    height: 10px;
    background-position: -1203px 0;
}
.iti__flag.iti__cy {
    height: 14px;
    background-position: -1225px 0;
}
.iti__flag.iti__cz {
    height: 14px;
    background-position: -1247px 0;
}
.iti__flag.iti__de {
    height: 12px;
    background-position: -1269px 0;
}
.iti__flag.iti__dg {
    height: 10px;
    background-position: -1291px 0;
}
.iti__flag.iti__dj {
    height: 14px;
    background-position: -1313px 0;
}
.iti__flag.iti__dk {
    height: 15px;
    background-position: -1335px 0;
}
.iti__flag.iti__dm {
    height: 10px;
    background-position: -1357px 0;
}
.iti__flag.iti__do {
    height: 14px;
    background-position: -1379px 0;
}
.iti__flag.iti__dz {
    height: 14px;
    background-position: -1401px 0;
}
.iti__flag.iti__ea {
    height: 14px;
    background-position: -1423px 0;
}
.iti__flag.iti__ec {
    height: 14px;
    background-position: -1445px 0;
}
.iti__flag.iti__ee {
    height: 13px;
    background-position: -1467px 0;
}
.iti__flag.iti__eg {
    height: 14px;
    background-position: -1489px 0;
}
.iti__flag.iti__eh {
    height: 10px;
    background-position: -1511px 0;
}
.iti__flag.iti__er {
    height: 10px;
    background-position: -1533px 0;
}
.iti__flag.iti__es {
    height: 14px;
    background-position: -1555px 0;
}
.iti__flag.iti__et {
    height: 10px;
    background-position: -1577px 0;
}
.iti__flag.iti__eu {
    height: 14px;
    background-position: -1599px 0;
}
.iti__flag.iti__fi {
    height: 12px;
    background-position: -1621px 0;
}
.iti__flag.iti__fj {
    height: 10px;
    background-position: -1643px 0;
}
.iti__flag.iti__fk {
    height: 10px;
    background-position: -1665px 0;
}
.iti__flag.iti__fm {
    height: 11px;
    background-position: -1687px 0;
}
.iti__flag.iti__fo {
    height: 15px;
    background-position: -1709px 0;
}
.iti__flag.iti__fr {
    height: 14px;
    background-position: -1731px 0;
}
.iti__flag.iti__ga {
    height: 15px;
    background-position: -1753px 0;
}
.iti__flag.iti__gb {
    height: 10px;
    background-position: -1775px 0;
}
.iti__flag.iti__gd {
    height: 12px;
    background-position: -1797px 0;
}
.iti__flag.iti__ge {
    height: 14px;
    background-position: -1819px 0;
}
.iti__flag.iti__gf {
    height: 14px;
    background-position: -1841px 0;
}
.iti__flag.iti__gg {
    height: 14px;
    background-position: -1863px 0;
}
.iti__flag.iti__gh {
    height: 14px;
    background-position: -1885px 0;
}
.iti__flag.iti__gi {
    height: 10px;
    background-position: -1907px 0;
}
.iti__flag.iti__gl {
    height: 14px;
    background-position: -1929px 0;
}
.iti__flag.iti__gm {
    height: 14px;
    background-position: -1951px 0;
}
.iti__flag.iti__gn {
    height: 14px;
    background-position: -1973px 0;
}
.iti__flag.iti__gp {
    height: 14px;
    background-position: -1995px 0;
}
.iti__flag.iti__gq {
    height: 14px;
    background-position: -2017px 0;
}
.iti__flag.iti__gr {
    height: 14px;
    background-position: -2039px 0;
}
.iti__flag.iti__gs {
    height: 10px;
    background-position: -2061px 0;
}
.iti__flag.iti__gt {
    height: 13px;
    background-position: -2083px 0;
}
.iti__flag.iti__gu {
    height: 11px;
    background-position: -2105px 0;
}
.iti__flag.iti__gw {
    height: 10px;
    background-position: -2127px 0;
}
.iti__flag.iti__gy {
    height: 12px;
    background-position: -2149px 0;
}
.iti__flag.iti__hk {
    height: 14px;
    background-position: -2171px 0;
}
.iti__flag.iti__hm {
    height: 10px;
    background-position: -2193px 0;
}
.iti__flag.iti__hn {
    height: 10px;
    background-position: -2215px 0;
}
.iti__flag.iti__hr {
    height: 10px;
    background-position: -2237px 0;
}
.iti__flag.iti__ht {
    height: 12px;
    background-position: -2259px 0;
}
.iti__flag.iti__hu {
    height: 10px;
    background-position: -2281px 0;
}
.iti__flag.iti__ic {
    height: 14px;
    background-position: -2303px 0;
}
.iti__flag.iti__id {
    height: 14px;
    background-position: -2325px 0;
}
.iti__flag.iti__ie {
    height: 10px;
    background-position: -2347px 0;
}
.iti__flag.iti__il {
    height: 15px;
    background-position: -2369px 0;
}
.iti__flag.iti__im {
    height: 10px;
    background-position: -2391px 0;
}
.iti__flag.iti__in {
    height: 14px;
    background-position: -2413px 0;
}
.iti__flag.iti__io {
    height: 10px;
    background-position: -2435px 0;
}
.iti__flag.iti__iq {
    height: 14px;
    background-position: -2457px 0;
}
.iti__flag.iti__ir {
    height: 12px;
    background-position: -2479px 0;
}
.iti__flag.iti__is {
    height: 15px;
    background-position: -2501px 0;
}
.iti__flag.iti__it {
    height: 14px;
    background-position: -2523px 0;
}
.iti__flag.iti__je {
    height: 12px;
    background-position: -2545px 0;
}
.iti__flag.iti__jm {
    height: 10px;
    background-position: -2567px 0;
}
.iti__flag.iti__jo {
    height: 10px;
    background-position: -2589px 0;
}
.iti__flag.iti__jp {
    height: 14px;
    background-position: -2611px 0;
}
.iti__flag.iti__ke {
    height: 14px;
    background-position: -2633px 0;
}
.iti__flag.iti__kg {
    height: 12px;
    background-position: -2655px 0;
}
.iti__flag.iti__kh {
    height: 13px;
    background-position: -2677px 0;
}
.iti__flag.iti__ki {
    height: 10px;
    background-position: -2699px 0;
}
.iti__flag.iti__km {
    height: 12px;
    background-position: -2721px 0;
}
.iti__flag.iti__kn {
    height: 14px;
    background-position: -2743px 0;
}
.iti__flag.iti__kp {
    height: 10px;
    background-position: -2765px 0;
}
.iti__flag.iti__kr {
    height: 14px;
    background-position: -2787px 0;
}
.iti__flag.iti__kw {
    height: 10px;
    background-position: -2809px 0;
}
.iti__flag.iti__ky {
    height: 10px;
    background-position: -2831px 0;
}
.iti__flag.iti__kz {
    height: 10px;
    background-position: -2853px 0;
}
.iti__flag.iti__la {
    height: 14px;
    background-position: -2875px 0;
}
.iti__flag.iti__lb {
    height: 14px;
    background-position: -2897px 0;
}
.iti__flag.iti__lc {
    height: 10px;
    background-position: -2919px 0;
}
.iti__flag.iti__li {
    height: 12px;
    background-position: -2941px 0;
}
.iti__flag.iti__lk {
    height: 10px;
    background-position: -2963px 0;
}
.iti__flag.iti__lr {
    height: 11px;
    background-position: -2985px 0;
}
.iti__flag.iti__ls {
    height: 14px;
    background-position: -3007px 0;
}
.iti__flag.iti__lt {
    height: 12px;
    background-position: -3029px 0;
}
.iti__flag.iti__lu {
    height: 12px;
    background-position: -3051px 0;
}
.iti__flag.iti__lv {
    height: 10px;
    background-position: -3073px 0;
}
.iti__flag.iti__ly {
    height: 10px;
    background-position: -3095px 0;
}
.iti__flag.iti__ma {
    height: 14px;
    background-position: -3117px 0;
}
.iti__flag.iti__mc {
    height: 15px;
    background-position: -3139px 0;
}
.iti__flag.iti__md {
    height: 10px;
    background-position: -3160px 0;
}
.iti__flag.iti__me {
    height: 10px;
    background-position: -3182px 0;
}
.iti__flag.iti__mf {
    height: 14px;
    background-position: -3204px 0;
}
.iti__flag.iti__mg {
    height: 14px;
    background-position: -3226px 0;
}
.iti__flag.iti__mh {
    height: 11px;
    background-position: -3248px 0;
}
.iti__flag.iti__mk {
    height: 10px;
    background-position: -3270px 0;
}
.iti__flag.iti__ml {
    height: 14px;
    background-position: -3292px 0;
}
.iti__flag.iti__mm {
    height: 14px;
    background-position: -3314px 0;
}
.iti__flag.iti__mn {
    height: 10px;
    background-position: -3336px 0;
}
.iti__flag.iti__mo {
    height: 14px;
    background-position: -3358px 0;
}
.iti__flag.iti__mp {
    height: 10px;
    background-position: -3380px 0;
}
.iti__flag.iti__mq {
    height: 14px;
    background-position: -3402px 0;
}
.iti__flag.iti__mr {
    height: 14px;
    background-position: -3424px 0;
}
.iti__flag.iti__ms {
    height: 10px;
    background-position: -3446px 0;
}
.iti__flag.iti__mt {
    height: 14px;
    background-position: -3468px 0;
}
.iti__flag.iti__mu {
    height: 14px;
    background-position: -3490px 0;
}
.iti__flag.iti__mv {
    height: 14px;
    background-position: -3512px 0;
}
.iti__flag.iti__mw {
    height: 14px;
    background-position: -3534px 0;
}
.iti__flag.iti__mx {
    height: 12px;
    background-position: -3556px 0;
}
.iti__flag.iti__my {
    height: 10px;
    background-position: -3578px 0;
}
.iti__flag.iti__mz {
    height: 14px;
    background-position: -3600px 0;
}
.iti__flag.iti__na {
    height: 14px;
    background-position: -3622px 0;
}
.iti__flag.iti__nc {
    height: 10px;
    background-position: -3644px 0;
}
.iti__flag.iti__ne {
    height: 15px;
    background-position: -3666px 0;
}
.iti__flag.iti__nf {
    height: 10px;
    background-position: -3686px 0;
}
.iti__flag.iti__ng {
    height: 10px;
    background-position: -3708px 0;
}
.iti__flag.iti__ni {
    height: 12px;
    background-position: -3730px 0;
}
.iti__flag.iti__nl {
    height: 14px;
    background-position: -3752px 0;
}
.iti__flag.iti__no {
    height: 15px;
    background-position: -3774px 0;
}
.iti__flag.iti__np {
    height: 15px;
    background-position: -3796px 0;
}
.iti__flag.iti__nr {
    height: 10px;
    background-position: -3811px 0;
}
.iti__flag.iti__nu {
    height: 10px;
    background-position: -3833px 0;
}
.iti__flag.iti__nz {
    height: 10px;
    background-position: -3855px 0;
}
.iti__flag.iti__om {
    height: 10px;
    background-position: -3877px 0;
}
.iti__flag.iti__pa {
    height: 14px;
    background-position: -3899px 0;
}
.iti__flag.iti__pe {
    height: 14px;
    background-position: -3921px 0;
}
.iti__flag.iti__pf {
    height: 14px;
    background-position: -3943px 0;
}
.iti__flag.iti__pg {
    height: 15px;
    background-position: -3965px 0;
}
.iti__flag.iti__ph {
    height: 10px;
    background-position: -3987px 0;
}
.iti__flag.iti__pk {
    height: 14px;
    background-position: -4009px 0;
}
.iti__flag.iti__pl {
    height: 13px;
    background-position: -4031px 0;
}
.iti__flag.iti__pm {
    height: 14px;
    background-position: -4053px 0;
}
.iti__flag.iti__pn {
    height: 10px;
    background-position: -4075px 0;
}
.iti__flag.iti__pr {
    height: 14px;
    background-position: -4097px 0;
}
.iti__flag.iti__ps {
    height: 10px;
    background-position: -4119px 0;
}
.iti__flag.iti__pt {
    height: 14px;
    background-position: -4141px 0;
}
.iti__flag.iti__pw {
    height: 13px;
    background-position: -4163px 0;
}
.iti__flag.iti__py {
    height: 11px;
    background-position: -4185px 0;
}
.iti__flag.iti__qa {
    height: 8px;
    background-position: -4207px 0;
}
.iti__flag.iti__re {
    height: 14px;
    background-position: -4229px 0;
}
.iti__flag.iti__ro {
    height: 14px;
    background-position: -4251px 0;
}
.iti__flag.iti__rs {
    height: 14px;
    background-position: -4273px 0;
}
.iti__flag.iti__ru {
    height: 14px;
    background-position: -4295px 0;
}
.iti__flag.iti__rw {
    height: 14px;
    background-position: -4317px 0;
}
.iti__flag.iti__sa {
    height: 14px;
    background-position: -4339px 0;
}
.iti__flag.iti__sb {
    height: 10px;
    background-position: -4361px 0;
}
.iti__flag.iti__sc {
    height: 10px;
    background-position: -4383px 0;
}
.iti__flag.iti__sd {
    height: 10px;
    background-position: -4405px 0;
}
.iti__flag.iti__se {
    height: 13px;
    background-position: -4427px 0;
}
.iti__flag.iti__sg {
    height: 14px;
    background-position: -4449px 0;
}
.iti__flag.iti__sh {
    height: 10px;
    background-position: -4471px 0;
}
.iti__flag.iti__si {
    height: 10px;
    background-position: -4493px 0;
}
.iti__flag.iti__sj {
    height: 15px;
    background-position: -4515px 0;
}
.iti__flag.iti__sk {
    height: 14px;
    background-position: -4537px 0;
}
.iti__flag.iti__sl {
    height: 14px;
    background-position: -4559px 0;
}
.iti__flag.iti__sm {
    height: 15px;
    background-position: -4581px 0;
}
.iti__flag.iti__sn {
    height: 14px;
    background-position: -4603px 0;
}
.iti__flag.iti__so {
    height: 14px;
    background-position: -4625px 0;
}
.iti__flag.iti__sr {
    height: 14px;
    background-position: -4647px 0;
}
.iti__flag.iti__ss {
    height: 10px;
    background-position: -4669px 0;
}
.iti__flag.iti__st {
    height: 10px;
    background-position: -4691px 0;
}
.iti__flag.iti__sv {
    height: 12px;
    background-position: -4713px 0;
}
.iti__flag.iti__sx {
    height: 14px;
    background-position: -4735px 0;
}
.iti__flag.iti__sy {
    height: 14px;
    background-position: -4757px 0;
}
.iti__flag.iti__sz {
    height: 14px;
    background-position: -4779px 0;
}
.iti__flag.iti__ta {
    height: 10px;
    background-position: -4801px 0;
}
.iti__flag.iti__tc {
    height: 10px;
    background-position: -4823px 0;
}
.iti__flag.iti__td {
    height: 14px;
    background-position: -4845px 0;
}
.iti__flag.iti__tf {
    height: 14px;
    background-position: -4867px 0;
}
.iti__flag.iti__tg {
    height: 13px;
    background-position: -4889px 0;
}
.iti__flag.iti__th {
    height: 14px;
    background-position: -4911px 0;
}
.iti__flag.iti__tj {
    height: 10px;
    background-position: -4933px 0;
}
.iti__flag.iti__tk {
    height: 10px;
    background-position: -4955px 0;
}
.iti__flag.iti__tl {
    height: 10px;
    background-position: -4977px 0;
}
.iti__flag.iti__tm {
    height: 14px;
    background-position: -4999px 0;
}
.iti__flag.iti__tn {
    height: 14px;
    background-position: -5021px 0;
}
.iti__flag.iti__to {
    height: 10px;
    background-position: -5043px 0;
}
.iti__flag.iti__tr {
    height: 14px;
    background-position: -5065px 0;
}
.iti__flag.iti__tt {
    height: 12px;
    background-position: -5087px 0;
}
.iti__flag.iti__tv {
    height: 10px;
    background-position: -5109px 0;
}
.iti__flag.iti__tw {
    height: 14px;
    background-position: -5131px 0;
}
.iti__flag.iti__tz {
    height: 14px;
    background-position: -5153px 0;
}
.iti__flag.iti__ua {
    height: 14px;
    background-position: -5175px 0;
}
.iti__flag.iti__ug {
    height: 14px;
    background-position: -5197px 0;
}
.iti__flag.iti__um {
    height: 11px;
    background-position: -5219px 0;
}
.iti__flag.iti__un {
    height: 14px;
    background-position: -5241px 0;
}
.iti__flag.iti__us {
    height: 11px;
    background-position: -5263px 0;
}
.iti__flag.iti__uy {
    height: 14px;
    background-position: -5285px 0;
}
.iti__flag.iti__uz {
    height: 10px;
    background-position: -5307px 0;
}
.iti__flag.iti__va {
    height: 15px;
    background-position: -5329px 0;
}
.iti__flag.iti__vc {
    height: 14px;
    background-position: -5346px 0;
}
.iti__flag.iti__ve {
    height: 14px;
    background-position: -5368px 0;
}
.iti__flag.iti__vg {
    height: 10px;
    background-position: -5390px 0;
}
.iti__flag.iti__vi {
    height: 14px;
    background-position: -5412px 0;
}
.iti__flag.iti__vn {
    height: 14px;
    background-position: -5434px 0;
}
.iti__flag.iti__vu {
    height: 12px;
    background-position: -5456px 0;
}
.iti__flag.iti__wf {
    height: 14px;
    background-position: -5478px 0;
}
.iti__flag.iti__ws {
    height: 10px;
    background-position: -5500px 0;
}
.iti__flag,
.iti__flag.iti__xk {
    height: 15px;
    background-position: -5522px 0;
}
.iti__flag.iti__ye {
    height: 14px;
    background-position: -5544px 0;
}
.iti__flag.iti__yt {
    height: 14px;
    background-position: -5566px 0;
}
.iti__flag.iti__za {
    height: 14px;
    background-position: -5588px 0;
}
.iti__flag.iti__zm {
    height: 14px;
    background-position: -5610px 0;
}
.iti__flag.iti__zw {
    height: 10px;
    background-position: -5632px 0;
}
.iti__flag {
    box-shadow: 0 0 1px 0 #888;
    background-image: url(../img/flags.webp);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    background-position: 20px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url(../img/flags@2x.webp);
    }
}
.iti__flag.iti__np {
    background-color: transparent;
}
