.main-nav {
  //Desktop-first
  display: flex;
  align-items: center;

  & .main-nav__item > a {
    font-size: 20px;
    color: $basic-white;
  }

  .btn {
    margin-left: 100px;
    background: transparent;
    border: 1px solid $main-color;
  }

  @media (max-width: $tablet-width) {
    z-index: 4;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 98px 50px;
    background: $bcg-black;

    .btn {
      display: flex;
      margin-top: 120px;
      margin-left: 0;
      width: max-content;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      span {
        display: none;
      }
    }

    &--closed {
      background: transparent;
      min-height: 85px;

      & .main-nav__list,
      .btn {
        display: none;
      }
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 28px;
  margin-bottom: 35px;

  :hover {
    border-bottom: 1px solid $main-color;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  a {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.main-nav__list {
  display: flex;
  gap: 70px;
  margin-top: 25px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 50px;
    margin-top: 0;
  }
}

.main-nav__toggle {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 66px;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 6px 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
    top: 20px;
    right: 25px;
  }
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 45px;
  height: 4px;
  background-color: $basic-white;
  box-shadow:
    10px 8px 0 0 $basic-white,
    20px 16px 0 0 $basic-white;
  border-radius: 15px 0 0 15px;
  transition: all ease-in-out 500ms;
}

.main-nav--closed .main-nav__toggle {
  .main-nav__open-btn-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &:hover::before {
    opacity: 0.8;
  }

  &:active::before {
    opacity: 0.6;
  }
}

.main-nav--closed svg {
  display: none;
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  width: fit-content;
  transition: all ease-in-out 500ms;

  .main-nav__open-btn-text {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: $basic-white;
  }

  &:hover {
    outline: 1px solid $basic-white;
    border-radius: 100px;
  }

  &:active {
    opacity: 0.8;
  }
}
