.main-nav {
  z-index: 4;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 98px 50px;
  background: $bcg-black;

  .btn {
    display: flex;
    margin-top: 50px;
    width: max-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  & .main-nav__item > a {
    color: $basic-white;
  }

  &--closed {
    background: transparent;
    min-height: 85px;

    & .main-nav__list,
    .btn {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: block;
}

.main-nav__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 28px;
  margin-bottom: 50px;

  a {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.main-nav__list {
  margin-top: 25px;
  display: block;

  &--bottom {
    display: flex;
    gap: 60px;
    margin-top: 0;

    .main-nav__item {
      margin-bottom: 27px;

      >a{
        color: $basic-white;
      }
    }
  }
}

.main-nav__toggle {
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 16px;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 6px 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

// Бургер на css
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 45px;
  height: 4px;
  background-color: $basic-white;
  box-shadow:
    10px 8px 0 0 $basic-white,
    20px 16px 0 0 $basic-white;
  border-radius: 15px 0 0 15px;
  transition: all ease-in-out 500ms;
}

.main-nav--closed .main-nav__toggle {
  .main-nav__open-btn-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &:hover::before {
    opacity: 0.8;
  }

  &:active::before {
    opacity: 0.6;
  }
}

.main-nav--closed svg {
  display: none;
}

//Крестик на css
.main-nav--opened .main-nav__toggle {
  width: fit-content;

  .main-nav__open-btn-text {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: $basic-white;
  }

  &:hover {
    outline: 1px solid $basic-white;
    border-radius: 100px;
  }

  &:active {
    opacity: 0.8;
  }
}
