.page-header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  background: $bcg-header-footer;

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.page-header__img {
  @media (max-width: $tablet-width) {
    z-index: 3;
    position: relative;
    padding-left: 20px;
  }
}
