.page-footer {
  display: flex;
  flex-direction:column;
  gap: 15px;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: "Montserrat", "Arial", sans-serif;

  a {
    color: $basic-white;
  }
}
