.promo {
  padding-top: 50px;
  padding-bottom: 150px;
  background: url('../img/bcg/promo-bcg.webp') no-repeat -10% 60%,  url('../img/bcg/why-bcg.webp') no-repeat 100% 80%;

  svg {
    display: block;
    margin: 0 auto;
    fill: transparent;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-left: 20px;
    text-align: left;
    background: url('../img/bcg/promo-bcg.webp') no-repeat 70%;
  }
}

.promo__heading {
  text-transform: uppercase;
  text-align: center;
  padding: 0 160px;

  span {
    color: $main-color;
  }

  @media (max-width: $tablet-width) {
    text-align: left;
    font-size: 32px;
    padding: 0;
  }
}

.promo__about {
  margin-bottom: 50px;
  padding: 0 280px;
  font-size: 20px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 0;
    text-align: left;
  }
}

.promo__content {
  padding: 100px 0;
  padding-right: 40%;

  .btn {
    width: fit-content;
    font-size: 20px;
    background: transparent;
    border: 1px solid $main-color;
  }

  @media (max-width: $tablet-width) {
    padding: 0;

    .btn {
      font-size: 19px;
      margin-bottom: 150px;

      &>span {
        display: none;
      }
    }
  }
}

.promo__sub-heading {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
}

.promo__text {
  margin-bottom: 70px;
  padding-right: 160px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    padding-top: 375px;
    padding-right: 0;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-left: -20px;
    background: url('../img/bcg/why-bcg.webp') no-repeat 100% 0%;
    background-size: contain;
  }
}
