.promo {
  padding-top: 50px;
  padding-bottom: 150px;
  background: url('../img/bcg/promo-bcg.webp') no-repeat -10% 60%,  url('../img/bcg/why-bcg.webp') no-repeat 100% 80%;

  svg {
    display: block;
    margin: 0 auto;
    fill: transparent;
  }
}

.promo__heading {
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 160px;

  span {
    color: $main-color;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 38px;
    padding: 0 5px;
  }
}

.promo__about {
  margin-bottom: 50px;
  padding: 0 280px;
  font-size: 20px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 0 20px;
  }
}

.promo__content {
  padding: 100px 0;
  padding-right: 40%;

  .btn {
    width: fit-content;
    font-size: 20px;
    background: transparent;
    border: 1px solid $main-color;
  }
}

.promo__sub-heading {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
}

.promo__text {
  margin-bottom: 70px;
  padding-right: 160px;
  font-weight: 700;
}
