.review {
  padding-top: 50px;
  padding-bottom: 50px;
  background: $bcg-header-footer;

  @media (max-width: $tablet-width) {
    padding: 50px 1px;
  }
}

.review__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    row-gap: 30px;
  }
}

.review__item {
  position: relative;
  width: 31%;
  height: 466px;
  border-radius: 25px;
  background: lightgray;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.review__video-container {
  padding: 56.25% 0 0 0;
}

.review__video {
  position: relative;
  width: 100%;
  height: 100%;

  button {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 80px;
    height: 80px;
    background: $main-color;
    border-radius: 50%;
    border: none;

    svg {
      margin-left: 8px;
      fill: $basic-white;
    }

    &:hover {
      background: $btn-hover;
    }
  }
}

.review__about {
  position: absolute;
  bottom: 0;
  padding: 26px 6px 11px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  background: $main-color;
  border-radius: 0 0 25px 25px;
}
