/* Слайдер */
.slick-slider {
  min-width: 0;
  width: 100%;
}

.slider__item {
  display: flex;
  flex-direction: column;
  gap: 110px;
  min-width: 0;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.slick-dots li {
  display: flex;
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
}
/* Активная точка */
.slick-dots li.slick-active {
  width: 14px;
  height: 14px;

  button {
    background: $main-color;
  }
}

/* Элемент точки */
.slick-dots li button {
  padding: 0;
  font-size: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $slider-control;
  border: none;
}

.slider-about {
  position: relative;
  padding-bottom: 100px;

  .slick-track {
    padding-top: 0;
  }

  .slider__item {
    align-items: center;
    gap: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    margin: 0 30px;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      opacity: 1;
    }
  }

  .slick-active {
    font-size: 20px;
    opacity: 1;

    .about__text {
      margin-top: -20px;

      @media (max-width: $tablet-width) {
        margin-top: 0;
      }
    }
   }

  .slick-arrow {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .slick-next {
    right: 45%;
    background: url(../img/next.webp) center no-repeat, $basic-white;


    @media (max-width: $tablet-width) {
      right: 30%;
    }
  }

  .slick-prev {
    left: 45%;
    background: url(../img/prev.webp) center no-repeat, $basic-white;

    @media (max-width: $tablet-width) {
      left: 30%;
    }
  }
}
