.start {
  padding: 150px 0;

  @media (max-width: $tablet-width) {
    padding: 65px 0;
  }
}

.start__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.start__heading {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 190px;

  @media (max-width: $tablet-width) {
    text-align: left;
    margin-bottom: 30px;
    padding: 0 22px;
  }
}

.start__sub-heading {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.start__info {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
    margin-left: unset;
  }
}

.start__text-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  max-width: 45%;
  padding-left: 70px;
  border-left: solid 1px $main-color;

  a {
    box-sizing: border-box;
    max-width: 276px;
  }

  @media (max-width: $tablet-width) {
    gap: 0;
    max-width: calc(100% - 35px);
    margin-left: 35px;
    margin-right: 25px;

    a {
      max-width: 100%;
    }
  }
}

.start__about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: $text-black;

  &--active {
    .start__step {
      color: $main-color;
      opacity: 1;
      font-weight: 700;
    }
    .start__circle {
      box-sizing: border-box;
      background: $basic-white;
      border: 6px solid $main2-color;
    }

    .start__text {
      opacity: 1;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    min-height: 140px;

    &--top {
      justify-content: start;
    }

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }
  }
}

.start__circle {
  position: absolute;
  left: -81px;
  display: block;
  width: 20px;
  height: 20px;
  background: $main-color;
  border-radius: 50%;

  &--top {
    top: 0;
  }

  &--middle {
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    bottom: 0;
  }
}

.start__img {
  object-fit: cover;
  max-width: 100%;

  @media (max-width: $tablet-width) {
    max-height: 440px;
  }
}

.start__step {
  opacity: 0.6;
  color: $main2-color;
  font-size: 24px;
  opacity: 0.5;
}

.start__text {
  opacity: 0.6;
}
