//Colors
$main-color: #439353;
$main2-color: #ec8025;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #202020;

$bcg-black: #202020;

$btn-hover: #2d6f3a;
$btn2-hover: #c15c09;

$white-text: #fbfbfb;

$input-border: #e8e9e9;
$input-color: #757575;

// Viewprts
$tablet-width: 768px;
