//Colors
$main-color: #439353;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #202020;

$bcg-black: #0d0c0c;
$btn-color: #f5ee36;

$white-text: #fbfbfb;

// Viewprts
$tablet-width: 768px;
