//Colors
$main-color: #972fff;
$main2-color: #ec8025;

$basic-white: #ffffff;
$basic-black: #000000;

$text-black: #202020;

$bcg-black: #121212;

$btn-hover: #2d6f3a;
$btn2-hover: #c15c09;

$white-text: #fbfbfb;

$input-border: #181818;
$input-color: #181818;
$att-color: #b1b1b1;
$play-btn-color: #d9d9d9;

$slider-control: #d9d9d9;

// Viewprts
$tablet-width: 768px;
