// Global
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";

// Blocks
@import "blocks/form.scss";
@import "blocks/checkbox.scss";
@import "blocks/intlTelInput.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-body.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/promo.scss";
@import "blocks/results.scss";
@import "blocks/review.scss";
@import "blocks/slider.scss";
@import "blocks/for-whom.scss";
@import "blocks/hello.scss";
@import "blocks/about.scss";
@import "blocks/faq-block.scss";
@import "blocks/info.scss";
